* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
:root{
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.header.sticky{
  border-bottom: .1rem solid rgba(0, 0, 0, .2);
  top: 0;
}

.logo{
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
}

.navbar a{
  font-size: 1.7em;
  color: var(--text-color);
  margin-left: 4rem;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active
{
  color: var(--main-color);
}

#menu-icon{
  font-size: 3.6em;
  color: var(--text-color); 
  display: none;
}
  li{
    list-style: none;
  }
  a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
  
  }
  a:hover{
    color: orange;
  
  }
  .dropdown_menu li a:hover{
    text-decoration: underline;
  }
  header{
    position: relative;
    padding: 0 2rem;
  }
  
  .navbar{
    width: -110px;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  .navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
  }
  .navbar .links{
    display: flex;
    gap: 2rem;
  }
  
  .navbar .toggle_btn{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
  .action_btn{
    background-color: orange;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
  }
  
  .action_btn:hover{
    scale: 1.05;
    color: white;
  }
  .action_btn:active{
    scale: 0.95;
  }
  
  .dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(225, 225, 225, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bazier(0.175, 0.885, 0.32, 1.27);
  }
  .dropdown_menu.open{
    height: 240px;
  }
  .dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  section#hero{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
  }
  
  
  
  @media (max-width: 992px){
    .navbar .links,
    .navbar .action_btn{
      display: none;
    }
    .navbar .toggle_btn{
      display: block;
    }
    .dropdown_menu{
      display: block;
    }
  }
  
  @media (max-width: 576px){
    .dropdown_menu{
      left: 2rem;
      width: unset;
    }
  }

  div .login-box{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800vh;
    background-color: #1f293a;
    
  }
  .login-box{
    position: relative;
    width: 400px;
    /* background: red; */
    margin-left: 34%;
    margin-top: 15%;
    font-size: 1.2rem;
  }
  .login-box form{
    width: 100%;
    margin-left: 75%;
    padding: 0 50px;
  }
  h2{
    font-size: 2em;
    color: #0ef;
    margin-left: 115%;
    text-align: center;
  }
  .input-box{
    position: relative;
    margin: 25px 0;
  }
  .input-box input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: white;
    padding: 0 20px;
    transition: .5s ease;
  }

  .input-box input:focus,
  .input-box input:valid{
    border-color: #0ef;
  }

  .input-box label{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    pointer-events: none;
    transition: .5s ease;
  }

  .input-box input:focus~label,
  .input-box input:valid~label{
    top: -8px;
    font-size: .8em;
    padding: 0 6px;
    /* background-color: #000000; */
    /* background-color: rgba(0, 0, 0, 0.4); */
    color: #0ef;
  }

  .forget-pass{
    margin: -15px 0 10px;
    text-align: center;
  }
  .forget-pass a{
    font-size: .85em;
    color: white;
    text-decoration: none;
  }
  .forget-pass a:hover{
    text-decoration: underline;
  }
  .btn{
    width: 100%;
    height: 45px;
    background-color: #0ef;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #1f293a;
    font-weight: 600;
  }
  .btn:hover{
    scale: 1.05;
  }
  .singup-link{
    margin: 20px 0 10px;
    text-align: center;
  }
  .singup-link a{
    font-size: 1em;
    color: #0ef;
    text-decoration: none;
    font-weight: 600;
  }
  .singup-link a:hover{
    text-decoration: underline;
  }
  .home-img img{
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;
}
.home-img img{
  width: 33vw;
  margin-top: -37rem;
  position: absolute;
  margin-left: 10%;
}





