@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
    
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

#brain-login{
    color: var(--main-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: #23242a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
    top: 0;
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a{
    font-size: 1.7em;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active
{
    color: var(--main-color);
}

#menu-icon{
    font-size: 3.6em;
    color: var(--text-color); 
    display: none;
}
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    margin-right: -53%;
    margin-top: -8%;
}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent,#45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 4s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent,#ff2770, #ff2770, #ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}
.borderLine{
    position: absolute;
    top: 0;
    inset: 0;
}
/* .borderLine::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent,#ff2770, #ff2770, #ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}
.borderLine::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,transparent,#ff2770, #ff2770, #ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
} */
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box form{
    position: absolute;
    inset: 4px;
    background: #23242a;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}
.box form h2{
    color: white;
    font-weight: 500;
    font-size: large;
    text-align: center;
    letter-spacing: 0.1em;
}
.box form .inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
    
}
.box form .inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    color: #fff;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.box form .inputBox span{
    position: absolute;
    left: 0;
    padding: 20xp 10px 10px ;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;

}
.box form .inputBox input:valid ~ span
.box form .inputBox input:focus ~ span{
    color: white;
    font-size: 0.75em;
    transform: translateY(-34px);

}
.box form .inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: white;
    color: black;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.box form .inputBox input:valid ~ i
.box form .inputBox input:focus ~ i{
    height: 44px;
}
.box form .links{
    display: flex;
    justify-content: space-between;
}
.box form .links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}
.box form .links a:hover
.box form .links a:nth-child(2){
    color: white;

}
.box form input[type="submit"]{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: white;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}
.box form input[type="submit"]:active{
    opacity: 0.8;

}
h1.brain{
    font-size: 4.3rem;
    margin-left: -338px;
    color: #ff2770;
    margin-top: -420px; 
    animation: floatImage 3s ease-in-out infinite;
}
h1.tumor{
    font-size: 4.3rem;
    margin-left: 16px;
    color: #45f3ff;
    margin-top: -420px;
    animation: floatImage 3s ease-in-out infinite;
}
@keyframes floatImage{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-6.4rem);
    }
    100%{
        transform: translateX(0);
    }
}

h1.lung{
    font-size: 4.3rem;
    margin-left: -327px;
    color: #ff2770;
    margin-top: -130px;
    animation: floatimage 3s ease-in-out infinite;

}
h1.cancer{
    font-size: 4.3rem;
    margin-left: 16px;
    color: #45f3ff;
    margin-top: -130px;
    animation: floatimage 3s ease-in-out infinite;

}
@keyframes floatimage{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(6.4rem);
    }
    100%{
        transform: translateX(0);
    }
}

h1.kidney{
    font-size: 4.3rem;
    margin-left: -349px;
    color: #ff2770;
    margin-top: 150px;
    animation: floatImage 3s ease-in-out infinite;

}
h1.stone{
    font-size: 4.3rem;
    margin-left: 16px;
    color: #45f3ff;
    margin-top: 150px;
    animation: floatImage 3s ease-in-out infinite;

}






