* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  :root{
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}
html{
  font-size: 62.5%;
}
  body{
    height: 100vh;
    background: var(--bg-color) ;
    background-image: url("pexels-felix-mittermeier-956999.jpg");
    background-size: cover;
    background-position: center;
  
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
    top: 0;
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
    text-decoration: none;
}

.navbar a{
    font-size: 1.7em;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
    text-decoration: none;
}

.navbar a:hover,
.navbar a.active
{
    color: var(--main-color);
    /* text-decoration: underline; */
}

#menu-icon{
    font-size: 3.6em;
    color: var(--text-color); 
    display: none;
}
  div.container{
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
    margin-top: 90px;
  }
  .container{
    height: 350px;
    width: 430px;
    margin-left: 5%;
  }
  .container .wrapper{
    position: relative;
    height: 300px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    border: 2px dashed #5b5b7b;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .wrapper.active{
    border: none;
  }

  .wrapper .image{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .wrapper .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .wrapper .icon{
    font-size: 100px;
    color: #9658fe;
  }
  .wrapper .text{
    font-size: 20px;
    font-weight: 500;
    color: #5b5b7b;
  }
  .wrapper #cancel-btn{
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 20px;
    cursor: pointer;
    color: #e74c3c;
  }

  .wrapper.ative:hover #cancel-btn{
    display: block;
  }
  .wrapper #cancel-btn:hover{
    color:#9658fe;
  }

  .wrapper .file-name{
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: white;
    padding: 8px 0;
    font-size: 18px;
    display: none;
    background: linear-gradient(135deg, #3a8ffe 0%,#9658fe 100%);
  }

  .wrapper.active:hover .file-name{
    display: block;
  }

  .container #custom-btn{
    margin: -170px 0 0;
    width: 100%;
    height: 50px;
    display: block;
    border: none;
    outline: none;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(135deg, #3a8ffe 0%,#9658fe 100%);
  }
  
  
  label {
    display: block;
    margin-top: -520px;
    margin-left: 50%;
    font-size: 2rem;
    color: aqua;
  }

  select {
    /* width: 250px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
    appearance: none;
    margin-top: 10px;
    margin-left: 50%;
    background-image: url("arrow-down-sign-to-navigate.png");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 260px 10px; */
    position: absolute;
    transform: translate(-50%,-50%);
    top: 42%;
    left: 60%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 305px;
    padding: 10px 20px;
    font-family: 'Poppins',sans-seritf; 
    background-color: #eb0adf;
    color: pink;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.5px;
    cursor: pointer;
    border: 4px solid aqua  ;
    border-radius: 17px;
    background: linear-gradient(135deg, #3a8ffe 0%,#9658fe 100%);
    background-image: url('arrow-down-sign-to-navigate.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 260px 10px;
    outline: none;
    box-shadow: 0 0 20px rgba(20, 20, 30, 0.25);
  }
  select option{
    color: black;
  }
  select:hover {
    border-color: aqua;
  }

  select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  img.back{
    margin-top: 45px;
    width: 30px;
    height: 30px;
    margin-left: 68%;
  }

  .dropdown{
    position: relative;
    width: 300px;
    height: 50px;
    margin-left: 59%;
    margin-top: -325px;
}
.dropdown::before{
    content: '';
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 10000;
    width: 8px;
    height: 8px;
    border: 2px solid #333;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(-45deg);
    transition: 0.5s;
    pointer-events: none;
}
.dropdown.active::before{
    top: 22px;
    transform: rotate(-225deg);
}
.dropdown input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #fff;
    border: none;
    outline: none;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
    padding: 12px 20px;
    border-radius: 10px;

}
.dropdown .option{
    position: absolute;
    top: 70px;
    width: 100%;
    background: #fff;
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    overflow: hidden;
    display: none;
    font-size: 1.5rem;

}
.dropdown.active .option{
    display: block;
}
.dropdown .option div{
    padding: 12px 20px;
    cursor: pointer;

}
.dropdown .option div:hover{
    background: #62baea;
    color: #fff;
}
.dropdown .option div ion-icon{
    position: relative;
    top: 4px;
    font-size: 1.2em;

}
a.btn{
  text-decoration: none;
  display: inline-block;
  padding: 1.4rem 8.8rem;
  background: var(--main-color);
  border-radius: 3rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .5s ease;
  margin-top: 25px;
  margin-left: 834px;

}
.btn:hover{
  box-shadow: none;
}
.result-box{
  width: 400px;
  height: 200px;
  border-radius: 13px;
  border-color: #0ef;
  background:#d3d3d3 ;
  margin-left: 750px;
  margin-top: 75px;
  
}
.brain-login{
  font-size: 1.2rem;
}
  
  
   




  













